/*animasi slide down */
@keyframes slide-down {
    0% {
        transform: translateY(-100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}
.slide-down {
    animation: slide-down 1s ease-out forwards;
}